header, .mainContainer, footer, .decoration
	width 100%
	display block

header
	display: flex
	justify-content: center
	flex-direction: row
	background-image: url(./img/header-background.png)
	background-repeat: no-repeat
	background-position: center left
	
	.isotypeContainer
		margin-top: 50px
		width: 470px
		display: flex
		flex-direction: column

		figure, .sloganContainer
			display: flex
			justify-content: center
			font-size: 17px
			margin: 0 0 15px 0

		.sloganContainer
			margin-top: 15px

			span
				padding: 2px
				
			span:nth-child(2)
				position: relative

				img
					position: absolute
					left: -5px
					z-index: 1
			
	.login
		margin-top: 80px
		display: inline-block
		width: 215px
		top: 80px

	.searchButtonContainer
		width: 215px
		top: 0px
	
		div:first-child
			height: 100px
			width: 75px
			background-color: #98CEB7
			position: absolute
			display: flex
			justify-content: center
			align-items: flex-end
		
			.searchButtonSubContainer
				position: relative
				bottom: 0
				border-top: 1px solid #009992
				height: 70px
				width: 50px
		
		div:nth-child(2)
			position absolute
			top: 100px
			height: 20px
			width:75px
			box-sizing: border-box
			border: 37.5px transparent solid
			border-top: 20px solid #98CEB7


		.searchButton
			cursor: pointer
			width: 40px
			height: 40px
			position: relative
			bottom: 0px
			border-radius: 20px
			border: none
			background-color: #009992
			background-image: url(./img/search.png)
			background-repeat: no-repeat
			background-position: center center

.mainContainer
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	
	div
		display: inline-block
	
	.searchFieldContainer
		margin: 15px

		input[type="text"]
			width: 350px
			border-radius: 3px	
			border: 1px solid #009992
			height: 30px

	.filterMainContainer
		width: 900px

		.consoleContainer
			width: 100%
			display: flex
			flex-direction: row
			justify-content: space-between
			margin: 25px 0
			
			button.consoleCheckbox
				width: 222px
				height: 110px	
				border: 0px
				background-color: #00605B
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				transition: all 300ms

				&:hover
					.isotype:before
						color: white

					.consoleNameTitle:before
						color: white

				.consoleNameTitle:before
					text-transform: uppercase
					color: #009992
					font-size: 15px
					transition: all 300ms
					padding: 10px 0

				&.ps4
					.isotype:before
						content: '\e905'

					.consoleNameTitle:before
						content: 'play station 4'
						
				&.ps3
					.isotype:before
						content: '\e905'

					.consoleNameTitle:before
						content: 'play station 3'

				&.xboxone
					.isotype:before
						content: '\e906'

					.consoleNameTitle:before
						content: 'xbox one'

				&.xbox360
					.isotype:before
						content: '\e906'

					.consoleNameTitle:before
						content: 'xbox 360'

				.isotype
					background-repeat: no-repeat
					background-position: center center
					display: inline-block
					width: 30px
					height: 30px
					margin: 15px
						
					&:before
						font-family: TruequeGamer
						font-size: 33px
						color: #009992
						transition: all 300ms
						padding: 10px 0

				&.checked
					background-color: #E6334C

					.isotype:before, span:before
						color: white
						padding: 10px 0px
						
					&:hover
						.isotype:before, span:before
							opacity: 0.5

		.extraFilterContainer
			margin: 10px 0
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
			
			section
				width: 312px
				display: flex
				flex-direction: row
				justify-content: space-between

				&.locationSection
					width: 178px
					display: flex
					flex-direction: row
					justify-content: space-between
					align-items: center

					figure
						border: solid 3px white
						border-radius: 14px
						margin: 0
						padding: 0
						width: 23px
						height: 23px
						overflow: hidden
						cursor: pointer

			button.extraFilterButton
				width: 150px
				height: 40px
				background-color: #00605B
				border: 0px
				font-size: 15px
				display: flex
				justify-content: space-between
				flex-direction: row
				padding: 0 13px
				align-items: center
				transition: all 300ms

				span
					color: #009992
					font-size: 15px
					margin-left: 13px
					transition: all 300ms

				&:hover
					span
						color: white

				input[type="checkbox"]
					display: none

				input[type="checkbox"] 
					& + label
						cursor: pointer
						width: 24px
						display: inline-block
						height: 24px
						border-radius: 0px
						background-color: #009992
						border: 0
						margin: 0
						overflow: hidden
						transition: all 300ms

					& + label:before
						margin: 0
						width: 24px
						height: 24px
						position: relative
						top: -24px
						left: 0
						content: '\e902'
						font-family: TruequeGamer
						font-size: 22px
						color: white
						transition: all 300ms

				&:hover 
					input[type="checkbox"] + label:before
						top: 0
						margin: 0
						width: 24px
						height: 24px
						position: relative
						left: 0
						content: '\e902'
						font-family: TruequeGamer
						font-size: 22px
						color: white

				&.checked
					background-color: #E6334C
					
					span
						color: white

					input[type="checkbox"] + label
						background-color: #E6334C

						&:before
							top: 0px

				&:hover.checked
					span, input[type="checkbox"] + label:before
						opacity: 0.5

footer
	border: 0px
	border-top: 1px solid #009992
	display: flex
	flex-direction: row
	justify-content: center
	align-items: top
	width: auto
	max-width: 1090px
	margin: 0 auto

	.footerDecorator
		width:22px
		height: 89px
		background-image: url(img/footer-decorator.png)
		background-position: center center
		background-repeat: no-repeat
		padding: 20px

	.socialLinks
		flex-grow: 2.22
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		flex-wrap: wrap
		width: 400px

		span
			display: block
			width: 100%
			text-align: center
			font-size: 11px

	.moreLinks, .bugLinksContainer
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		flex-grow: 1
		
		a
			min-width: 170px
			margin: 15px 0
			text-align: center 
			
	.bugLinksContainer
		figure
			width: 21px
			height: 21px

		span
			color: #E6334C
			font-size: 12px

		a
			text-align: center

.searchButtonSection
	margin: 40px 0px

.searchButton
		cursor: pointer
		width:120px
		height: 40px
		background-color: #E6334C
		border: 0px
		border-radius: 5px
		font-size: 22px
		color: white

.decoration
	position relative
	bottom 0
	background #98CEB7
	height 50px
	background-image url(./img/footer-background-decorator.png)
	background-repeat repeat-x
	background-position center


.listDecorator
	width: 25px
	height: 28px
	background-image: url(img/listDecorator.png) 
	background-repeat: no-repeat 
	background-position: center center

.cityButton
	width: 135px
	height: 40px
	background-color: #F29224
	border: 0
	border-radius: 0
	color: white
	font-size: 15px

.instagramLink, .youtubeLink, .facebookLink, .twitterLink, .pinterestLink
	width: 40px
	height: 40px
	background-color: #009992
	border-radius: 20px
	border: 0
	margin: 20px
	color: white

	&:before
		font-family: TruequeGamer
		margin: 10px
		display: inline-block
		font-style: normal
		font-weight: 100

.instagramLink:before
	content: '\ea92'

.youtubeLink:before
	content: '\e904'

.facebookLink:before
	content: '\ea90'

.twitterLink:before
	content: '\ea96'

.pinterestLink:before
	content: '\e903'
	margin-left: 13px

.x-reflexion
	transform: scaleX(-1)
	filter: FlipV

input[type="text"]
	outline: none
	padding: 2px 18px
	box-sizing: border-box
	font-size: 15px
	color: #009992

button
	cursor: pointer
	outline: none
