header, .mainContainer, footer, .decoration
	width 100%
	display block

header
	display: flex
	justify-content: center
	flex-direction: row
	background-image: url(./img/header-background.png)
	background-repeat: no-repeat
	background-position: center left
	
	.isotypeContainer
		margin-top: 50px
		width: 470px
		display: flex
		flex-direction: column

		figure, .sloganContainer
			display: flex
			justify-content: center
			font-size: 17px
			margin: 0 0 15px 0

		.sloganContainer
			margin-top: 15px

			span
				padding: 2px
				
			span:nth-child(2)
				position: relative

				img
					position: absolute
					left: -5px
					z-index: 1
			
	.login
		margin-top: 80px
		display: inline-block
		width: 215px
		top: 80px

	.searchButtonContainer
		width: 215px
		top: 0px
	
		div:first-child
			height: 100px
			width: 75px
			background-color: #98CEB7
			position: absolute
			display: flex
			justify-content: center
			align-items: flex-end
		
			.searchButtonSubContainer
				position: relative
				bottom: 0
				border-top: 1px solid #009992
				height: 70px
				width: 50px
		
		div:nth-child(2)
			position absolute
			top: 100px
			height: 20px
			width:75px
			box-sizing: border-box
			border: 37.5px transparent solid
			border-top: 20px solid #98CEB7


		.searchButton
			cursor: pointer
			width: 40px
			height: 40px
			position: relative
			bottom: 0px
			border-radius: 20px
			border: none
			background-color: #009992
			background-image: url(./img/search.png)
			background-repeat: no-repeat
			background-position: center center

.mainContainer
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	
	div
		display: inline-block
	
	.searchFieldContainer
		margin: 15px

		input[type="text"]
			width: 350px
			border-radius: 3px	
			border: 1px solid #009992
			height: 30px

	.filterMainContainer
		width: 900px

		.consoleContainer
			width: 100%
			display: flex
			flex-direction: row
			justify-content: space-between
			margin: 25px 0
			
			button.consoleCheckbox
				width: 222px
				height: 110px	
				border: 0px
				background-color: #00605B
				display: flex
				flex-direciton: column
				justify-content: center
				align-items: center

		.extraFilterContainer
			margin: 10px 0
	
	.searchButton
		width:120px
		height: 40px
		background-color: #E6334C
		border: 0px
		border-radius: 5px
		font-size: 22px
		color: white

.decoration
	position absolute
	bottom 0
	background #98CEB7
	height 50px
	background-image url(./img/footer-background-decorator.png)
	background-repeat repeat-x
	background-position center
