<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Trueque Gamer - Detalles The Witcher</title>
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
	<div id="mainContainer">
		<div id="semi_body" class="both">
			<header class="">
				<div class="searchHeaderButtonContainer">
					<div>
						<div class="searchButtonSubContainer">
							<button class="searchButton"></button>
						</div>
					</div>
					<div></div>
				</div>
				<div class="isotypeContainer">
					<figure class="">
						<img class="isotype normal" src="./img/isotype.png"/>
						<img class="isotype negative" src="./img/isotype_positive.png"/>
					</figure>
					<div class="sloganContainer">
						<span class="dot-decorator">Intercambiando juegos desde </span>
						<span>
							<span>1993.</span>
						</span>
						<span class="arrow-decorator"> 2016</span>
					</div>
				</div>
				<a class="login arrow-decorator dot-decorator" href="#">Ingresa con Facebook</a>
				<a href="#" class="profileContainer hidden"><span>Carlos Mejia</span><figure><img src="img/face.png" alt=""></figure></a>
			</header>
			<section class="genericMainContainer detailsMainContainer both">
				<div class="container">
					<div class="title"><span>Estás en la sección de <span>The Witcher</span> para xbox one</span></div>
					<div class="gameDetails">
						<hr />
						<figure><img src="img/cover.png" alt=""></figure>
						<div class="gameDetailsContainer">
							<div class="arrow-decorator"></div>
							<span>The Witcher</span>
							<span>Desde 70.000</span>
							<span>también disponible en play station 4</span>
							<button class="openChatProfileButton">abrir chat</button>
						</div>
					</div>
					<ul class="gameList both">
						<il class="ps notOnly psUsed">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
									<div class="used"></div>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span>Desde 80.000</span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
							<div class="commentContainer">
								<div class="background"></div>
								<span>esto es un comentario de pruba pero no se sabe que carajos es todo esto esto es un comentario de pruba pero no se sabe que carajos es todo esto esto es un comentario de pruba pero no se sabe que carajos es todo esto estto es un comentario de pruba pero no se sabe que carajos es todo estoi esto es un comentario de pruba pero no se sabe que carajos es todo esto esto es un comentario de pruba pero no se sabe que carajos es todo esto  es un comentario de pruba pero no se sabe que carajos es todo esto</span>
							</div>
						</il>
						<il class="xbox notOnly xboxUsed showComment">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
									<div class="used"></div>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span>Desde 80.000</span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
							<div class="commentContainer">
								<div class="background"></div>
								<span>esto es un comentario de pruba pero no se sabe que carajos es todo esto esto es un comentario de pruba pero no se sabe que carajos es todo esto esto es un comentario de pruba pero no se sabe que carajos es todo esto estto es un comentario de pruba pero no se sabe que carajos es todo estoi esto es un comentario de pruba pero no se sabe que carajos es todo esto esto es un comentario de pruba pero no se sabe que carajos es todo esto  es un comentario de pruba pero no se sabe que carajos es todo esto</span>
							</div>
						</il>
						<il class="ps notOnly">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span>Desde 80.000</span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox notOnly">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span>Desde 80.000</span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox notOnly xboxNoExchange">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span>Desde 80.000</span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox notOnly xboxNoExchange">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span>Desde 80.000</span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox notOnly">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span>Desde 80.000</span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox notOnly xboxNoSell">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span></span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox notOnly xboxNoSell">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span></span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox notOnly xboxNoExchange">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span>Desde 80.000</span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox notOnly xboxNoSell">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span></span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox xboxNoSell">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span></span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox only">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span>Desde 80.000</span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span>Desde 80.000</span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span>Desde 80.000</span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox notOnly">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span>Desde 80.000</span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
						<il class="xbox notOnly">
							<figure>
								<div class="info">
									<span></span>
								</div>
								<img src="img/details_profile.png" alt="">
							</figure>
							<div class="contentContainer">
								<span class="name">Alizr María</span>
								<div class="exchange">
									<span></span><span></span>
								</div>
								<div class="availableConsoles">
									<div class="container">
										<span></span><span></span>
									</div>
								</div>
								<div class="price">
									<span>Desde 70.000</span><span>Desde 80.000</span>
								</div>
								<button class="chatButton">
									<span></span>
								</button>
							</div>
						</il>
					</ul>
				</div>
			</section>
			<footer class="white">
				<div class="footerContainer">
					<section class="moreLinks">
						<a href="#">Sobre nosotros</a>
						<a href="#">Contáctanos</a>
					</section>
					<div class="footerDecorator"></div>
					<section class="socialLinks">
						<a class="instagramLink" href="" onclick='return false'></a>
						<a class="youtubeLink" href=""></a>
						<a class="facebookLink" href="#"></a>
						<a class="twitterLink" href="#"></a>
						<a class="pinterestLink" href=""></a>
						<span>www.truequegamer.com. ©2016 Derechos reservados. Bogotá D.C., Colombia.</span>
					</section>
					<div class="footerDecorator x-reflexion"></div>
					<section class="bugLinksContainer">
						<figure><img src="img/bug.png" alt=""></figure>
						<span>Chan, chan, chan, chaaan</span>
						<a href="">Informar bug!</a>
					</section>
				</div>
			</footer>
			<div class="decoration white"></div>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>
