<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Trueque Gamer - resultados de búsqueda</title>
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
	<div id="mainContainer">
		<div id="semi_body" class="xbox">
			<header class="negative">
				<div class="searchHeaderButtonContainer">
					<div>
						<div class="searchButtonSubContainer">
							<button class="searchButton"></button>
						</div>
					</div>
					<div></div>
				</div>
				<div class="isotypeContainer">
					<figure class="negative">
						<img class="isotype normal" src="./img/isotype.png"/>
						<img class="isotype negative" src="./img/isotype_positive.png"/>
					</figure>
					<div class="sloganContainer negative">
						<span class="dot-decorator">Intercambiando juegos desde </span>
						<span>
							<span>1993.</span>
						</span>
						<span class="arrow-decorator"> 2016</span>
					</div>
				</div>
				<a class="login arrow-decorator dot-decorator negative" href="#">Ingresa con Facebook</a>
				<a href="#" class="profileContainer negative hidden"><span>Carlos Mejia</span><figure><img src="img/face.png" alt=""></figure></a>
			</header>
			<section class="genericMainContainer searchResultsMainContainer xbox">
				<div class="container">
					<div class="title"></div>
					<ul class="gameList xbox">
						<il class="xbox notOnly">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">the witcher: the wild hunt</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span>70.000</span><span>80.000</span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox notOnly">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">battlefield 1</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span>70.000</span><span>80.000</span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox notOnly xboxNoExchange">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">bloodborne</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span>70.000</span><span>80.000</span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox notOnly xboxNoExchange">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">call of duty balck ops iii</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span>70.000</span><span>80.000</span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox notOnly">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">dark souls iii</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span></span><span>80.000</span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox notOnly xboxNoSell">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">doom</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span>70.000</span><span></span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox notOnly xboxNoSell">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">fallout 4</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span></span><span></span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox notOnly xboxNoExchange">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">farcry primal</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span></span><span>80.000</span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox notOnly xboxNoSell">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">grand theft auto V</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span>70.000</span><span></span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox xboxNoSell">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">metal gear solid the phantom pain</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span>desde 70.000</span><span></span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox only">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">mirror edge</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span></span><span>desde 80.000</span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">overwatch</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span>desde 70.000</span><span>desde 60.000</span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">the division</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span>desde 70.000</span><span>desde 80.000</span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox notOnly">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">uncharted 4: a thief's end</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span>70.000</span><span>80.000</span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
						<il class="xbox notOnly">
							<figure><img src="/img/cover.png" alt=""></figure>
							<div class="contentContainer">
								<span class="name">until dawn</span>
								<div class="exchange"><span></span><span></span></div>
								<div class="availableConsoles">
									<div class="container"><span></span><span></span></div>
								</div>
								<div class="price"><span>70.000</span><span>80.000</span></div>
								<div class="alsoAvailableOn"><span></span></div>
							</div>
						</il>
					</ul>
				</div>
			</section>
			<footer class="white">
				<div class="footerContainer">
					<section class="moreLinks">
						<a href="#">Sobre nosotros</a>
						<a href="#">Contáctanos</a>
					</section>
					<div class="footerDecorator"></div>
					<section class="socialLinks">
						<a class="instagramLink" href="" onclick='return false'></a>
						<a class="youtubeLink" href=""></a>
						<a class="facebookLink" href="#"></a>
						<a class="twitterLink" href="#"></a>
						<a class="pinterestLink" href=""></a>
						<span>www.truequegamer.com. ©2016 Derechos reservados. Bogotá D.C., Colombia.</span>
					</section>
					<div class="footerDecorator x-reflexion"></div>
					<section class="bugLinksContainer">
						<figure><img src="img/bug.png" alt=""></figure>
						<span>Chan, chan, chan, chaaan</span>
						<a href="">Informar bug!</a>
					</section>
				</div>
			</footer>
			<div class="decoration white"></div>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>
