$super_dark_green = #1A4E4A
$darker_green = #00605B
$dark_green = #009992
$gray = #EFF4EC
$green = #98CEB7
$green_hover_xbox = #8CC63F
$orange = #F29224
$ps_from = #183A68 
$ps_to = #142033
$red = #E6334C
$xbox_from = #1C7B33
$xbox_to = #25632C
$ps_radial_gradient = radial-gradient(circle, $ps_from, $ps_to)
$xbox_linear_gradient = linear-gradient(-16deg, $xbox_from, $xbox_to)
$time = 300ms
