.detailsMainContainer
	.container
		.title
			font-size: 15px
			border: 0

			&:after
				content: ''
			
			span
				padding-left: 50px

				span
					font-size: 20px
					font-weight: bold
					padding-left: 0

.gameDetails
	border-bottom: 1px solid #fff
	display: flex
	flex-direction: row
	flex-wrap: wrap
	padding: 25px 0
	padding-top: 0
	width: 100%

	hr
		margin: 0
		margin-bottom: 25px
		margin-right: 200px
		width: 100%

	figure
		align-items: center
		border: 2px solid white
		flex-grow: 0
		flex-shrink: 0
		justify-content: center
		height: 200px
		margin: 0
		width: 167px

		img
			height: 180px
			width: 142px
	
	.gameDetailsContainer
		display: flex
		flex-direction: column
		padding-left: 30px

		div:first-child
			flex-grow: 1
			flex-shrink: 1
			position: relative

			&:after
				bottom: 10px
				color: white
				font-size: 25px
				padding: 0
				position: absolute

		span
			color: white
			flex-grow: 0
			flex-shrink: 0
			font-size: 30px
			font-weight: bold
			text-transform: uppercase

			&:nth-child(3)
				flex-grow: .5
			
			&:last-child
				flex-grow: 0
				font-size: 15px
				font-weight: normal
