/* acá el caso generico (si no es especifica consola es xbox para simplicidad de programación, lo que significa que SIEMPRE se debe especificar consola */

.detailsMainContainer
	.container
		.title
			font-size: 15px
			border: 0

			&:after
				content: ''
			
			span
				padding-left: 50px

				span
					font-size: 20px
					font-weight: bold
					padding-left: 0

		.gameList
			padding-top: 20px

			&.details
				li
					min-height: 290px

			li
				height: auto
				min-height: 310px
				position: relative

				figure
					position: relative

					.info
						border-right: 20px solid white
						border-top: 20px solid white

				.contentContainer
					span,div
						padding-top: 0
						padding-bottom: 0
						margin-top: 2px
						margin-bottom: 2px

					.name
						margin-top: 10px

					.threeAttributes
						display: flex
						flex-direction: row
						position: relative
						padding: 0 12px
						justify-content: space-between
						order: 3

						div
							right: auto
							left: auto
							bottom: auto
							top: auto
							display: inline-block
							position: relative
							margin: 0px
							opacity: 0.5
							transition: opacity $time
							color: $darker_green
							font-size: 8pt
							text-transform: uppercase
							font-family: 'Cabin', sans-serif
							margin: 6px 0

							&:after, &:before
								font-family: 'TruequeGamer'
								color: $dark_green
								position: absolute
								bottom: 3px
								left: -4px
								font-size: 6pt
								transition: opacity $time

							&:after
								content: '\e909'
								opacity: 1

							&:before
								content: '\e900'
								opacity: 0.5
								font-size: 3pt
								bottom: 6px
								left: -7px

							&.exchange3
								&:before
									display: none

					.exchange
						display: none
						margin-bottom: 10px
						margin-top: 3px
						position: relative
	
					.alsoAvailableOn
						display: none

					.chatButton
						display: inline-block
						align-items: center
						background-color: $red
						border: 0
						display: flex
						height: 30px
						justify-content: center
						order: 4
						transition: background-color, color $time

						span
							display: inherit

							&:before
								color: white
								content: 'abrir chat'
								font-size: 12px
								text-transform: uppercase
								transition: color $time

						&:hover
							background-color: $green_hover_xbox

				&:hover
					figure
						.info
							border-top: 20px solid $green_hover_xbox
							border-right: 20px solid $green_hover_xbox

					.contentContainer
						.threeAttributes
							div
								color: white

								&:after, &:before
									color: white

					&.ps
						&.psExchange.psUsed
							.contentContainer
								.threeAttributes
									.used3
										&:before
											color: white

					&.xbox
						&.xboxExchange.xboxUsed
							.contentContainer
								.threeAttributes
									.used3
										&:before
											color: white

				&.only
					.contentContainer
						.availableConsoles
							.container
								span
									width: 28px

				&.xbox
					&.xboxExchange
						.contentContainer
							.threeAttributes
								.exchange3
									opacity: 1
									font-weight: bold				
									color: $red

									&:before
										color: $dark_green

									&:after
										opacity: 0

					&.xboxUsed
						.contentContainer
							.threeAttributes
								.used3
									opacity: 1
									font-weight: bold				
									color: $red

									&:before
										color: $green

									&:after
										opacity: 0

					&.xboxNew
						.contentContainer
							.threeAttributes
								.new3
									opacity: 1
									font-weight: bold				

									&:after
										opacity: 0

					//In order to show the dot dividing two active options
					&.xboxUsed.xboxNew
						.contentContainer
							.threeAttributes
								.new3
									&:before
										opacity: 1

					&.xboxExchange.xboxUsed
						.contentContainer
							.threeAttributes
								.used3
									&:before
										opacity: 1

				&.ps
					&.psExchange
						.contentContainer
							.threeAttributes
								.exchange3
									opacity: 1
									font-weight: bold				

									&:after
										opacity: 0

					&.psUsed
						.contentContainer
							.threeAttributes
								.used3
									opacity: 1
									font-weight: bold				

									&:after
										opacity: 0

					&.psNew
						.contentContainer
							.threeAttributes
								.new3
									opacity: 1
									font-weight: bold				

									&:after
										opacity: 0

					//In order to show the dot dividing two active options
					&.psUsed.psNew
						.contentContainer
							.threeAttributes
								.new3
									&:before
										opacity: 1

					&.psExchange.psUsed
						.contentContainer
							.threeAttributes
								.used3
									&:before
										opacity: 1

				.commentContainer
					position: absolute
					top: 0
					left: 0
					bottom: 0px
					display:none
					opacity: 0
					z-index: 4

					.background, .commentTextContainer
						position: absolute
						top: 0
						left: 0
						bottom: 0
						width: 167px

					.background
						background-color: $green_hover_xbox
						opacity: .92
						z-index: 2

					.commentTextContainer
						z-index: 3
						box-sizing: border-box
						padding: 15px
						font-size: 11px
						padding-right: 20px
						padding-top: 20px
						text-transform: uppercase
						overflow-y: scroll
						display: flex
						height: 100%
						flex-direction: column

						.commentTitle
							display: block
							font-size: 15px
							text-align: center
							margin-bottom: 10px
							width: 134px

						.textArea
							display: none
							width: 134px
							border-radius: 0
							background-color: transparent
							border: 1px solid white
							color: white
							outline: none
							resize: none
							/*position: absolute*/
							top: 44px
							bottom: 20px
							height: auto	
							padding: 5px
							font-size: 12px
							text-transform: none
							flex-grow: 1

				&.showComment
					.commentContainer
						opacity: 1
						display: inline-block

						.commentTextContainer
							.textArea
								display: none
					
					form
						display: none

					figure
						.info
							z-index: 5
							display: inline-block
							border-top: 20px $green solid
							border-right: 20px $green solid
							
							span
								&:before
									content: 'X'

			//There wont be a .xbox at this same level because the default styles are from xbox	
			&.both, $.profile
				li	
					figure
						.info
							border-top: 20px solid $dark_green
							border-right: 20px solid $dark_green

							span
								background-color: white
								
								&:before
									color: $dark_green
									font-weight: bold /* just for both */

					.contentContainer
						text-align: left

						.price
							order: 1
							height: 12px

							&:before
								display: none

							span
								width: auto
								margin: 0px 12px
								font-size: 15px
								font-weight: bold
								height:12px
								line-height: normal

						.exchange
							span
								display: none
								width: auto
								position: relative

								&:after
									left: -5px
									top: 0
									color: $darker_green

							&:before, &:after
								padding-right: 0
								bottom: 3px

							&:after
								bottom: 2px

						.chatButton
							&:hover
								background-color: $darker_green

					&.xboxNoExchange, &.psNoExchange
						.contentContainer
							.exchange

								&:before, &:after
									opacity: 1
									color: $darker_green

								span
									&:after, &:before
										display: inline-block

									&:before
										content: "trueque"
					
					&.xbox
						span:nth-child(2)
							display: inline-block

						.threeAttributes
							div
								color: white

								&:before, &:after
									color: white

						&.xboxUsed
							.contentContainer
								.threeAttributes
									.used3
										color: white

						&.xboxNew
							.contentContainer
								.threeAttributes
									.new3
										color: white

						&.xboxExchange
							.contentContainer
								.threeAttributes
									.exchange3
										color: white

					&.ps
						span:first-child
							display: inline-block

							//if there is any error now showing the new label change this value
							&.newText
								display: none

						.commentContainer
							.commentTextContainer
								.commentTitle
									display: block

						.threeAttributes
							div
								&.used3
									color: white

								&:before, &:after
									color: white

						.threeAttributes
							div
								color: white

								&:before, &:after
									color: white

						&.psUsed
							.contentContainer
								.threeAttributes
									.used3
										color: white

						&.psNew
							.contentContainer
								.threeAttributes
									.new3
										color: white

						&.psExchange
							.contentContainer
								.threeAttributes
									.exchange3
										color: white


					&:hover
						figure
							.info
								border-top: 20px solid $red !important
								border-right: 20px solid $red !important

								span
									&:before
										color: $red

						&.xboxNoExchange, &.psNoExchange
							.contentContainer
								.exchange
									&:before, &:after
										color: white

									span
										&:before, &:after
											color: white

					figure
						.info
							border-top: 20px $dark_green solid
							border-right: 20px $dark_green solid

					.commentContainer
						left: 0

						.background
							background-color: $darker_green

			//Thre wont be a .xbox at this same level because the default styles are from xbox	
			&.ps
				li	
					.contentContainer
						.chatButton
							&:hover
								background-color: white

								span
									&:before
										color: $red

						.threeAttributes
							div
								color: white

								&:before, &:after
									color: white

						&.xboxUsed
							.contentContainer
								.threeAttributes
									.used3
										color: white

						&.xboxNew
							.contentContainer
								.threeAttributes
									.new3
										color: white

						&.xboxExchange
							.contentContainer
								.threeAttributes
									.exchange3
										color: white

					&:hover
						figure
							.info
								border-top: 20px $red solid
								border-right: 20px $red solid

								span
									background-color: white
								
									&:before
										color: $red

					&.showComment
						figure
							.info
								border-top: transparent 20px solid
								border-right: transparent 20px solid

						.commentContainer
							.background
								background-color: $red
								
.gameDetails, .profileDetails
	border-bottom: 1px solid #fff
	display: flex
	flex-direction: row
	flex-wrap: wrap
	padding: 25px 0
	padding-top: 0
	width: 100%

	hr
		margin: 0
		margin-bottom: 25px
		margin-right: 200px
		width: 100%

	figure
		align-items: center
		border: 2px solid white
		flex-grow: 0
		flex-shrink: 0
		justify-content: center
		height: 170px
		margin: 0
		width: 170px

		img
			height: 160px
			width: 160px
			object-fit: cover
			object-position: 50% 58%
	
	.gameDetailsContainer, .profileDetailsContainer
		display: flex
		flex-direction: column
		padding-left: 30px

		div:first-child
			flex-grow: 1
			flex-shrink: 1
			position: relative

			&:after
				bottom: 10px
				color: white
				font-size: 25px
				padding: 0
				position: absolute

		span
			color: white
			flex-grow: 0
			flex-shrink: 0
			font-size: 30px
			font-weight: bold
			text-transform: uppercase

			&:nth-child(3)
				flex-grow: .5
			
			&:nth-child(4)
				flex-grow: 0
				font-size: 15px
				font-weight: normal

		.openChatProfileButton
			display: none

.both
	.gameDetails, .profileDetails
		border-bottom: solid 1px $dark_green

		hr
			border-top: 1px solid $dark_green

		figure
			border: solid 1px $dark_green

		.gameDetailsContainer, .profileDetailsContainer
			.arrow-decorator
				&:after
					color: $dark_green

			span
				color: $dark_green

			span:nth-child(3)
				flex-grow: 0
				padding-top: 10px

		.gameDetailsContainer
			span:last-child
				display: none

.info
	position: absolute
	height: 40px
	width: 40px
	top: 0
	right: 0
	border-top: 20px solid $green
	border-left: 20px solid transparent
	border-right: 20px solid $green
	border-bottom: 20px solid transparent
	box-sizing: border-box
	transition: border $time
	z-index: 4
	cursor: pointer

	span
		background-color: $red
		display: inline-block
		border-radius: 10px
		height: 20px
		width: 20px
		margin-top: -18px
		margin-left: -2px
		position: absolute
		transition: background-color $time

		&:before
			content: 'i'
			display: inline-block
			height: 20px
			width: 20px
			text-align: center
			transition: color $time
