header, .mainContainer, footer, .decoration
	display block
	width 100%
	flex-shrink: 0

header, footer, .decoration
	flex-grow: 0

.mainContainer,.searchResultsMainContainer, .detailsMainContainer
	flex-grow: 1

header
	display: flex
	justify-content: center
	flex-direction: row
	position: relative

	&:after
		content: ''
		display: inline-block
		position: absolute
		height: 64px
		width: 190px
		background-image: url(./img/header-background-negative.png)
		background-repeat: no-repeat
		background-position: center center
		right: 0
		bottom: -40px
		transform: scaleX(-1)
		filter: FlipV
		opacity: 0
	
	.isotypeContainer
		margin-top: 50px
		width: 470px
		display: flex
		flex-direction: column

	&.negative
		&:after
			opacity: 1

figure
	display: flex
	justify-content: center
	font-size: 17px
	margin: 0 0 15px 0

	.isotype
		&.normal
			display: inline-block
		&.negative
			display: none

	&.negative
		.isotype
			&.normal
				display: none

			&.negative
				display: inline-block

.sloganContainer
	display: flex
	justify-content: center
	font-size: 17px
	margin: 0 0 15px 0
	margin-top: 15px

	span
		padding: 2px
		
	span:nth-child(2)
		position: relative

		span:before
			content: '\e90a'
			font-family: TruequeGamer
			font-weight: bolder
			left:0
			bottom: 3px
			position: absolute

	&.negative
		span
			color: white

.login
	margin-top: 80px
	margin-bottom: auto
	display: inline-block
	width: 215px
	top: 80px
	height: auto

	&.negative
		color: white

.profileContainer
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	width: 215px

	figure
		width: 43px
		margin: 0
		height: 43px
		border-radius: 23px
		overflow: hidden

	span
		color: #F29224
		font-size: 20px
		border-bottom: 1px solid $dark_green
		margin: 20px
		overflow: hidden
		white-space: nowrap

	&.negative
		span
			border-bottom: 1px solid white
			color: white

.searchHeaderButtonContainer
	width: 215px
	top: 0px

	div:first-child
		height: 100px
		width: 75px
		background-color: #98CEB7
		position: absolute
		display: flex
		justify-content: center
		align-items: flex-end
		z-index: 3
	
		.searchButtonSubContainer
			position: relative
			bottom: 0
			border-top: 1px solid $dark_green
			height: 70px
			width: 50px
	
	div:nth-child(2)
		position absolute
		top: 100px
		height: 20px
		width:75px
		box-sizing: border-box
		border: 37.5px transparent solid
		border-top: 20px solid #98CEB7
		box-shadow: 0px -5px 0px #98ceb7
		z-index: 2

	.searchButton
		cursor: pointer
		width: 40px
		height: 40px
		position: relative
		bottom: 0px
		border-radius: 20px
		border: none
		background-color: $dark_green
		
		&:before
			content: '\e908'

.mainContainer
	align-items: center
	background-image: url("/img/header-background.png")
	background-repeat: no-repeat
	display: flex
	flex-direction: column
	justify-content: flex-start
		
	.searchFieldContainer
		margin: 15px
		position: relative

		input[type="text"]
			width: 350px
			height: 30px

			&:focus + ul
				display: block
		
		ul
			display: none;
			position: absolute
			top: 0
			left: 0
			margin-top: 28px
			padding: 0
			background: white
			border: 1px solid $dark_green
			border-radius: 0 0 3px 3px
			box-sizing: border-box
			width: 350px
			z-index: 1

			li
				cursor: pointer
				font-size: 15px
				list-style-type: none
				padding: 5px 18px

				&:hover
					background-color: $dark_green
					color: white

			&:hover
				display: inline-block
					
	.filterMainContainer
		/*width: 900px*/
		width: auto

.consoleContainer
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	margin: 25px 0
	/*min-width: 900px
	width: 100%*/
			
button.consoleCheckbox
	align-items: center
	border: 0px
	background-color: #00605B
	display: flex
	flex-direction: row
	height: 85px	
	justify-content: center
	margin: 2.5px
	position: relative
	transition: background-color $time, opacity $time
	width: 250px

	&:before
		bottom: 0
		color: white
		content: '\e902'
		display: inline-block
		font-family: TruequeGamer
		font-size: 22px
		height: 22px
		opacity: 0
		padding-right: 5px
		position: absolute
		right: 0
		transition: opacity $time
		width: 22px

	&:after
		bottom: 0
		color: $green
		content: '\e90b'
		display: inline-block
		font-family: TruequeGamer
		height: 15px
		position: absolute
		transition: bottom ease $time, color $time
		width: 24px

	.consoleCheckboxContainer
		display: flex
		margin: 0 auto
		width: -moz-fit-content

	&:hover
		&:before
			opacity: .5

		.isotype:before
			color: white

		.consoleNameTitle:before
			color: white
	
	.consoleNameTitle
		flex-grow: 0
		line-height: 30px
		margin: 10px

		&:before
			text-transform: uppercase
			color: $dark_green
			font-size: 15px
			transition: all $time

	&.ps4
		&:after
			left: -44px

		.isotype:before
			content: '\e905'

		.consoleNameTitle:before
			content: 'play station 4'

	&.xboxone
		&:after
			right: -44px
			
		.isotype:before
			content: '\e906'

		.consoleNameTitle:before
			content: 'x-box one'

	.isotype
		background-repeat: no-repeat
		background-position: center center
		display: inline-block
		height: 30px
		flex-grow: 0
		margin: 10px
		width: auto
			
		&:before
			font-family: TruequeGamer
			font-size: 33px
			color: $dark_green
			transition: all 300ms

	&.checked
		background-color: $red

		&:before
			opacity: 1

		&:after
			bottom: 30px
			color: $red

		.isotype:before, span:before
			color: white
			padding: 10px 0px
			
		&:hover
			.isotype:before, span:before
				opacity: 0.5

/******* these will no longer have support ******/
	&.ps3
		.isotype:before
			content: '\e905'

		.consoleNameTitle:before
			content: 'play station 3'

	&.xbox360
		.isotype:before
			content: '\e906'

		.consoleNameTitle:before
			content: 'xbox 360'
/************************************************/

.extraFilterContainer
	margin: 10px 0
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	/*min-width: 900px*/
	
	section
		/*width: 312px*/
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center

		&.locationSection
			width: 178px
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center

			figure
				border: solid 3px white
				border-radius: 14px
				margin: 0
				padding: 0
				width: 23px
				height: 23px
				overflow: hidden
				cursor: pointer

button.extraFilterButton
	align-items: center
	height: 40px
	background-color: #00605B
	border: 0px
	display: flex
	font-size: 15px
	justify-content: space-between
	flex-direction: row
	margin: 5px
	padding: 0 13px
	transition: all 300ms
	width: 150px

	span
		color: $dark_green
		font-size: 15px
		margin-left: 13px
		transition: all 300ms
		text-transform: capitalize
		flex-grow: 1
		text-align: left
		float: left
		line-height: 24px

	&:hover
		span
			color: white

	input[type="checkbox"]
		display: none

	input[type="checkbox"] 
		& + label
			cursor: pointer
			width: 24px
			display: inline-block
			height: 24px
			border-radius: 0px
			background-color: $dark_green
			border: 0
			margin: 0
			overflow: hidden
			transition: all 300ms
			float: right

		& + label:before
			margin: 0
			width: 24px
			height: 24px
			position: relative
			top: -24px
			left: 0
			content: '\e902'
			font-family: TruequeGamer
			font-size: 22px
			color: white
			transition: all 300ms

	&:hover 
		input[type="checkbox"] + label:before
			top: 0
			margin: 0
			width: 24px
			height: 24px
			position: relative
			left: 0
			content: '\e902'
			font-family: TruequeGamer
			font-size: 22px
			color: white

	&.checked
		background-color: $red
		
		span
			color: white

		input[type="checkbox"] + label
			background-color: $red

			&:before
				top: 0px

	&:hover.checked
		span, input[type="checkbox"] + label:before
			opacity: 0.5

.chatBubble
	position: fixed
	display: flex
	width: 84px
	height: 84px
	border-radius: 42px
	background-color: $dark_green
	bottom: 0
	right: 0
	margin: 20px
	box-sizing: border-box
	cursor: pointer
	z-index: 1

	img	
		width: 42px
		height: 38px
		margin: auto

	.messagesNumber
		position: absolute
		width: 40px
		height: 40px
		border-radius: 20px
		background-color: $red
		color: white

	.messagesNumber
		position: absolute
		width: 40px
		height: 40px
		border-radius: 20px
		background-color: $red
		top: -20px
		left: 20px
		display:flex
		justify-content: center
		align-items: center

		span
			color: white

.chatList
	position: fixed
	right: -420px
	bottom: 0
	height: 100%
	width: 417px
	background: white 
	opacity: 0.99
	z-index: 5
	display: flex
	flex-direction: column

	.container
		display: flex
		flex-direction: column
		height: 100%
		z-index: 2

	&.out
		animation: chatOut 300ms ease forwards

	&.in
		animation: chatIn 300ms ease forwards

	.titleContainer
		background-color: #98CEB7
		width: 100%
		height: 70px
		border-bottom: 4px solid $dark_green
		display: flex
		flex-direction: row
		flex-shrink: 0
		justify-content: center
		align-items: center
		z-index: 2

		span
			text-transform: uppercase
			text-align: center
			font-size: 15px
			margin: 0px 20px
			width: 300px
			padding: 5px

			&:before
				padding: 0 15px
				content: '\e907'
				font-family: TruequeGamer
				color: $dark_green
				font-size: 15px
				
	ul, .chatMessages
		display: flex
		flex-direction: column
		flex-grow: 1
		margin: 0
		overflow-x: hidden
		overflow-y: scroll
		padding: 0
		background-color: white
		z-index: 2

		li
			box-sizing: border-box
			cursor: pointer
			list-style-type: none			
			margin: 0
			border-bottom: 1px solid $green
			display: flex
			flex-direction: row
			flex-shrink: 0
			flex-wrap: wrap
			align-items: center
			justify-content: center
			padding: 20px 10px
			transition: background-color 150ms
			width: 100%			

			&.loading
				display: inline-block
				font-size: 12px
				text-align: center
				transition: opacity 150ms
				opacity: 1

				&.hide
					display: inline-block
					opacity: 0

			figure
				width: 60px
				height: 60px
				border-radius: 30px
				overflow: hidden
				margin: 0
				padding: 0
				box-sizing: border-box

			.content 
				width: 270px
				margin: 0 20px
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
				flex-wrap: wrap

				.name
					text-transform: capitalize
					color: $darker_green
					font-size: 15px
					flex-grow: 1
					margin: 0 0 10px 0
				
				.time
					font-size: 12px
					color: $green
					margin: 0 0 10px 0

				.messageText
					display: block
					font-size: 11px
					transition: color 150ms
					flex-basis: 100%

			&:hover
				background-color: $dark_green

				.messageText
					color: white

			&.unread
				.messageText
					color: $red
				 
				&:hover
					.messageText
						color: white
	
	.searchArea, .inputArea
		background-color: $dark_green
		box-sizing: border-box
		display: flex
		flex-direction: row
		justify-content: center
		flex-shrink: 0
		align-items: center
		height: 70px
		margin: 0
		padding: 10px 25px
		width: 100%
		z-index: 2

		input
			color: white
			background-color: transparent
			flex-grow: 1
			padding-right: 33px
			transition: all 150ms

			&:focus,&:hover
				background-color: white
				color: $dark_green

		.searchChatButton
			width: 40px
			height: 40px
			background-color: $green
			border: 0px
			border-radius: 20px
			margin-left: 20px

			&:before
				color: $darker_green
				content: '\e908'

		.closeButton
			position: absolute
			right: 95px

button.closeButton
	width: 17px
	height: 17px
	background-image: url(img/x.png)
	background-color: transparent
	background-position: center center
	background-repeat: no-repeat
	border: 0
	margin: 0

.singleChat
	position: absolute
	height: 100%
	width: 416px
	bottom: 0;
	left: 0px
	background-color: white
	display: flex
	flex-direction: column
	flex-grow: 0
	z-index: 1
	visiblity: hidden

	&.out
		animation: singleChatOut 300ms ease 1 forwards
		
	&.in
		animation: singleChatIn 300ms ease 1 forwards

	.inputArea
		position: relative
		bottom: 0
		padding: 15px 10px 15px 20px
		height: auto
		flex-grow: 0
		align-items: flex-start
		
		.text
			display: flex
			align-items: flex-start
			justify-content: flex-start
			background-color: white
			border: 0px
			flex-grow: 0
			cursor: text
			box-sizing: border-box
			outline: none
			border-radius: 3px
			line-height: 25px
			font-size: 18px
			padding: 5px 10px
			box-sizing: border-box
			max-height: 140px
			width: 100%
			overflow-x: hidden
			overflow-y: scroll

			.content
				display: inline-block
				min-height: 25px
				width: 100%
				outline: none

				*
					font-size: inherit !important
					background-color: inherit !important
					color: inherit !important
					width: auto !important
					height: auto !important
					text-decoration: none !important
					border: 0 !important
					margin: 0 !important
					padding: 0 !important
					text-transform: none !important

			.hiddenSpan
				display: none

		button.sendButton
			background-color: $green
			border: 0
			height: 35px
			padding: 9px
			border-radius: 3px
			margin: 0 10px
			
			&:before
				content: 'Send'
				color: $darker_green

	ul
		&.chatMessages
			background-color: $gray
			height: 100%
			flex-direction: column-reverse
			padding: 0px 10px

			li, li:hover
				flex-direction: row
				flex-grow: 0
				justify-content: flex-start
				border: 0
				background-color: transparent
				cursor: default
				padding: 5px
				align-items: flex-start

				figure
					margin: 0
					width: 40px
					height: 40px
					border-radius: 20px

				.message
					background-color: white
					border-radius: 5px
					color: $dark_green
					padding: 15px 30px
					font-size: 12px
					max-width: 260px
					margin-left: 20px
					position: relative

					&:before
						display: inline-block
						width: 10px
						height: 10px
						position: absolute
						top: 15px
						left: -10px
						content: ''
						border-top: 5px transparent solid
						border-bottom: 5px transparent solid
						border-right: 10px white solid
						box-sizing: border-box

				.time
					color: $dark_green
					display: block
					width: 100%
					flex-shrink: 0
					flex-grow: 1
					font-size: 10px
					text-align: right
					margin: 5px 0px

				&.own
					justify-content: flex-end

					figure
						display: none

					.message
						background-color: $dark_green
						color: white
						max-width: inherit

						&:before
							left: inherit
							right: -10px
							border-left: 10px solid $dark_green
							border-right: 0px
footer
	width: 100%

	.footerContainer
		border: 0px
		border-top: 1px solid $dark_green
		display: flex
		flex-direction: row
		justify-content: center
		align-items: top
		width: 100%
		max-width: 1090px
		margin: 0 auto

		.footerDecorator
			width:22px
			height: 89px
			background-image: url(img/footer-decorator.png)
			background-position: center center
			background-repeat: no-repeat
			padding: 20px

		.socialLinks
			flex-grow: 2.22
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			flex-wrap: wrap
			width: 400px

			span
				display: block
				width: 100%
				text-align: center
				font-size: 11px

		.moreLinks, .bugLinksContainer
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			flex-grow: 1 
		
			a
				min-width: 170px
				margin: 15px 0
				text-align: center 
			
				&:hover
					color: $red
				
		.bugLinksContainer
			figure
				width: 21px
				height: 21px

			span
				color: $red
				font-size: 12px

			a
				text-align: center

	&.white_background
		background-color: white

	&.white
		background-color: transparent
		
		.footerContainer
			border-top: 1px solid white

			.moreLinks, .bugLinksContainer
				a
					color: white

					&:hover
						color: $red

			span
				color: white

			.footerDecorator
				background-image: url(img/footer-decorator-negative.png)

.searchButtonSection
	margin: 40px 0px

.searchButton
		cursor: pointer
		width:120px
		height: 40px
		background-color: $red
		border: 0px
		border-radius: 5px
		font-size: 22px
		color: white

		&:before
			font-family: TruequeGamer
			color: white
			padding-top: 5px
			display: inline-block

.decoration
	position relative
	bottom 0
	background #98CEB7
	height 50px
	background-image url(./img/footer-background-decorator.png)
	background-repeat repeat-x
	background-position center

	&.white
		background-color: white


.listDecorator
	height: 28px
	flex-shrink: 0
	width: 25px

	&:before
		color: $orange
		content: '\e900'
		font-family: TruequeGamer
		font-size: 6px
		margin-left: 9px

.cityButton
	width: 135px
	height: 40px
	background-color: #F29224
	border: 0
	border-radius: 0
	color: white
	font-size: 15px

.instagramLink, .youtubeLink, .facebookLink, .twitterLink, .pinterestLink
	width: 40px
	height: 40px
	background-color: $dark_green
	border-radius: 20px
	border: 0
	margin: 20px
	color: white
	
	&:hover
		background-color: $red

	&:before
		font-family: TruequeGamer
		margin: 10px
		display: inline-block
		font-style: normal
		font-weight: 100

.instagramLink:before
	content: '\ea92'

.youtubeLink:before
	content: '\e904'

.facebookLink:before
	content: '\ea90'

.twitterLink:before
	content: '\ea96'

.pinterestLink:before
	content: '\e903'
	margin-left: 13px

.x-reflexion
	transform: scaleX(-1)
	filter: FlipV

textarea, input[type="text"]
	border-radius: 3px	
	border: 1px solid $dark_green
	outline: none
	padding: 2px 18px
	box-sizing: border-box
	font-size: 15px
	color: $dark_green
	height: 30px

button
	cursor: pointer
	outline: none

.hidden
	display: none !important

/************* animations *************/

@keyframes singleChatOut {
	0%{
		left: -420px
		visibility: visible
	}
	100% {
		left: 0px
		visibility: hidden
	}
}

@keyframes singleChatIn{
	0%{
		left: 0px
		visibility: hidden
	}
	100%{
		left: -420px
		visibility: visible
	}
}

@keyframes chatOut{
	0%{
		right: 0px
		visibility: visible
	}
	100%{
		right: -420px
		visibility: hidden
	}
}

@keyframes chatIn{
	0%{
		right: -420px
		visibility: hidden
	}
	100%{
		right: 0
		visiblity: visible
	}
}
