.inform
	.container
		.content
			padding: 0px

			span
				padding: 20px
				
			textarea
				width: 100%
				border-radius: 0px
				border: 0px
				background-color: $green
				padding: 20px
				height: 130px

				&::placeholder
					color: red

			div
				width: 100%
				height: 40px
				background-color: $green

				button
					font-weight: bold
