.profile
	.container
		.title
			span
				font-size: 20px

		.profileDetails
			.profileDetailsContainer
				span
					display: inline-block

				span
					&:nth-child(3), &:nth-child(4)
						font-size: 20px
						font-weight: normal
						padding-top: 20px

				span:nth-child(4)
					color: $green
					padding-top: 10px

				.openChatProfileButton
					display: inline-block
					width: 172px
					margin-top: 20px
					height: 30px
					background-color: $red
					text-transform: uppercase
					border: 0
					color: white
					font-size: 17px

				&.own
					.openChatProfileButton
						display: none
	
ul
	&.gameList
		il
			&.new
				cursor: pointer

				figure
					img
						display: none

					.img
						background-color: $green
						border: 0px solid white
						position: relative
						width: 140px
						height: 180px
						display: inline-block

						&:before
							content: "\e907"
							font-family: TruequeGamer
							font-size: 30px
							border: 0px solid white
							position: relative
							width: 24px
							height: 90px
							display: inline-block
							margin-top: -45px
							margin-left: -12px
							top: 50%
							left: 50%
							
						
						div, span
							opacity: 0
							display: inline-block
							position: absolute
							background-color: $red
							color: $white
							width: 100%
							transition: opacity $time
							left: 0

						div
							height: 20px
							padding: 20px 0
							top:0

							&:before
								content: '\e907'
								font-family: TruequeGamer
								display: inline-block
								width: 100%
								height: 100%
								text-align: center

						span
							top: 60px
							bottom: 0px
							text-align: center
							text-transform: uppercase
							font-size: 12px

				.contentContainer
					span, div
						display: none

					.threeAttributes
						display: none !important

					span
						&.newText
							text-transform: uppercase
							margin: 20px
							text-align: center
							padding-top: 20px !important
							padding-bottom: 30px !important
							border-bottom: 2px solid white
							display: inline-block

				&:hover
					figure
						border-top: 2px solid $green !important
						border-right: 2px solid $green !important
						border-left: 2px solid $green !important

						.img
							div, span
								opacity: 1

					.contentContainer
						background-color: $green !important


			&.editing
				form
					position: absolute
					top 0
					left 0
					width: 100%
					flex-direction: column
					height: 100%
					padding: 10px
					height: 100%
					padding: 0px
					box-sizing: border-box
					background-color: $dark_green

					.info
						span
							padding: 0
							font-size: 15px
							left: 0
							background-color: white

							&:before
								content: 'x'
								color: $green

					span
						text-align: center
						padding: 5px
						font-size: 12px
						padding-top: 20px
					
					div
						&:nth-child(2)
							padding-top: 20px
						
						&:nth-child(3)
							padding-top: 10px

						&.videoGameSection
							position: relative
						
							ul
								display: inline-block
								position: absolute
								background-color: white
								top: 40px
								width: 145px
								z-index: 3
								padding: 0
								padding-bottom: 5px

								il
									min-height: 21px !important
									margin: 0
									width: auto
									background-color: white
									font-size: 12px
									cursor: pointer
									box-sizing: border-box
									padding: 2px 8px
									color: $green
									text-align: left
									align-items: flex-start

									&:hover	
										background-color: rgba($dark_green,0.5)
										color: white

						&.stateButtons
							justify-content: space-between
							display: none
							
							button
								/*width: 54px*/
								flex-grow: 1
								height: 27px
								border: 0	
								box-sizing: border-box
								text-transform: uppercase
								font-size: 8px
								color: white
								background-color: $darker_green
								transition: background-color $time
								box-sizing: border-box

								&:hover
									background-color: $orange

								&:nth-child(2), &:nth-child(3)
									margin-left: 2px

							.delete
								&:hover
									background-color: $red


					.stateButtonsLabel
						display: none

					.publishButton, .secondButton
						border: 0
						font-size: 12px
						height: 25px
						position: absolute
						width: 100%

					.secondButton
						background-color: $darker_green
						color: $green
						text-transform: uppercase
						font-size: 10px
						bottom: 27px
						transition: color $time, background-color $time

						&:hover
							background-color: $orange
							color: white

					.publishButton
						background-color: $red
						color: white
						text-transform: uppercase
						font-size: 10px
						bottom: 0
						cursor: pointer
						transition: font-size $time

						&:before
							content: 'Guardar Cambios'

						&:hover
							font-size: 11px

					div
						display: flex
						flex-direction: row
						justify-content: center

						input[type='text']
							width: 145px
							border-radius: 0
							height: 20px
							padding: 2px
							font-size: 10px
							text-transform: uppercase
							margin: 0 10px
							box-sizing: border-box
							background-color: transparent
							border: 1px solid white
							color: white

						input[type="radio"]
							display: none

							&+label
								display: inline-block
								border-radius: 0
								background-color: $darker_green
								height: 27px
								color: $green
								padding: 5px
								width: 73px
								text-align: center
								cursor: pointer
								font-size: 15px
								margin: 0 2.5px
								box-sizing: border-box
								transition: color $time, background-color $time
							
								&:hover
									color: white

							&:checked
								&+label
									background-color: $red
									color: white
							
						&.exchange
							input+label
								text-transform: uppercase

						&.console
							input
								&.ps, &.xbox
									&+label
										height: 27px
										width: 72px
										padding: 0px
										
										&:before
											font-family: TruequeGamer
											font-size: 20px
											margin-top: 3px
											display: inline-block
											cursor: pointer

								&.ps
									&+label
										&:before
											content: '\e905'

								&.xbox
									&+label
										&:before
											content: '\e906'

				.contentContainer
					.newText
						display: none

				form
					display: flex
					
				&.onlyExchange
					form
						.stateButtons
							.sold
								display: none

				&.onlySell
					form
						.stateButtons
							.exchanged
								display: none

				&.alreadyCreated
					form
						span
							padding-top: 4.5px

						.info
							span
								padding-top: 0px

						.stateButtonsLabel
							display: block

						.stateButtons
							display: flex


				&.showComment
					.contentContainer
						.price
							span
								z-index: inherit

					form
						display: flex
							
						.publishButton
							&:before
								content: 'Listo!'
								font-size: 11px
								transition: font-size $time	

							&:hover
								&:before
									font-size: 15px

					.commentContainer
						bottom: 25px

						.commentTextContainer
							.commentBody
								display: none
							
							.textArea
								display: inline-block !important
			
			&.showInfo
				figure
					.info
						display: inline-block

.detailsMainContainer
	.container
		ul
			&.gameList.both.own
				il
					figure
						.info
							z-index: 5;

							span
								background-color: transparent

								&:before
									content: "..."
									color: white

					.contentContainer
						.chatButton
							display:none

					&.editing
						figure
							.info
								display: none

						form
							z-index: 1

							.info
								display: inline-block
								z-index: 5

								&:hover
									border-top: 20px $red solid	
									border-right: 20px $red solid

									span
										&:before
											color: $red

						&.showComment
							form
								z-index: inherit
								display: flex

.detailsMainContainer.profile
	.container
		ul
			&.gameList.both
				il
					&.commentContainerIn
						.commentContainer
							opacity: 0
							display: inline-block
							animation: commentContainerIn $time ease forwards

					&.commentContainerOut
						.commentContainer
							opacity: 1
							display: inline-block
							animation: commentContainerOut $time ease forwards

@keyframes commentContainerOut{
	0%{
		opacity: 1
		visiblity: visible
	}
	100%{
		opacity: 0
		visibility: hidden
	}
}

@keyframes commentContainerIn{
	0%{
		display: inline-block
		visiblity: visible
		opacity: 0
	}
	100%{
		display: inline-block
		visiblity: visible
		opacity: 1
	}
}
