.profile
	.container
		.title
			span
				font-size: 20px

		.profileDetails
			.profileDetailsContainer
				span
					display: inline-block

				span
					&:nth-child(3), &:last-child
						font-size: 20px
						font-weight: normal
						padding-top: 20px

				span:last-child
					color: $green
					padding-top: 10px
