.genericMainContainer, .searchResultsMainContainer
	background-color: white
	flex-grow: 1
	flex-shrink: 0
	padding: 0 20px
	margin: 0

	.container
		align-items: center
		display: flex
		flex-direction: column
		justify-content: center
		margin: 0 auto
		max-width: 1090px
		padding: 0
	
		.title
			align-items: center
			border: 0
			color: white
			display: flex
			font-size: 20px
			height: 40px
			justify-content: flex-start
			padding: 25px 0
			text-transform: uppercase
			width: 100%

			&:before
				content: ''
				display: inline-block
				font-size: 40px
				font-family: TruequeGamer
				height: 40px
				width: 40px

			&:after
				content: ''
				display: inline-block
				margin-left: 60px
		
ul.gameList
	align-items: streach
	color: white
	cursor: pointer
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	padding: 0
	max-width: 1096px
	margin-right: -15px
	
	il
		align-items: flex-start
		display: flex
		flex-direction: column
		flex-grow: 0
		min-height: 340px
		margin-bottom: 34px
		margin-right: 15px
		overflow: hidden
		width: 167px

		figure
			align-items: center
			border-bottom: 0px
			box-sizing: border-box
			display: flex
			flex-shrink: 0
			justify-content: center
			margin: auto
			padding: 8px 0
			transition: border $time
			width: 100%

			.info
				display: none

			img
				height: 180px
				width: 142px

			.img
				display: none

		.contentContainer
			background-color: $dark_green
			box-sizing: border-box
			display: flex
			justify-content: center
			flex-direction: column
			flex-shrink: 0
			flex-grow: 1
			text-align: center
			transition: background-color $time
			width: 100%
			
			.newText
				display: none

			.threeAttributes
				display: none

			.chatButton
				display: none
	
			.name
				flex-grow: 1
				font-size: 15px
				margin: 15px 12.5px 3px 12.5px
				order: 1
				text-transform: uppercase
				transition: color $time
				min-height: 18px

			.exchange
				font-size: 14px
				text-transform: uppercase
				margin: 3px 12.5px 
				order: 2
				position: relative
				
				&:before,&:after
					bottom: 0px
					color: $orange
					font-family: TruequeGamer
					font-size: 5px
					font-style: normal
					position: relative
					transition: color $time, opacity $time

				&:before
					content: '\e900'
					padding-right: 74px

				&:after
					content: '\e901'
					bottom: -1px
					font-size: 7px
					padding-left: 2px

				span
					position: relative
					transition:  opacity $time
					
					&:before,&:after
						transition: color $time, opacity $time

					&:after
						content: '\e909'
						display: none
						font-family: TruequeGamer
						left: -15px
						position: absolute
						top: 2px

			.availableConsoles
				box-sizing: border-box
				flex-grow: 0
				flex-shrink: 0
				order: 3
				position: relative
				width: 100%

				.container
					border-top: 1px solid white
					box-sizing: border-box
					display: flex
					flex-direction: row
					justify-content: center
					margin: 5px 9px 0px 9px
					
					span
						display: inline-block
						height: 28px
						margin: 6px 7.5px
						width: 36px

						&:before
							color: white
							font-family: TruequeGamer
							font-size: 28px
							opacity: .5
							transition: opacity $time

						&:first-child:before
							content: '\e905'

						&:nth-child(2):before
							content: '\e906'

			.price
				align-items: center
				box-sizing: border-box
				color: white
				display: flex
				flex-grow: 0
				flex-shrink: 0
				font-size: 12px
				height: 30px
				justify-content: center
				order: 4
				padding: 0 12.5px
				position: relative
				text-align: center
				text-transform: uppercase
				transition: color $time, background $time
				width: 100%
					
				&:before
					content: ''
					height: 100%
					left: 0
					opacity: 1
					position: absolute
					transition: opacity 300ms
					top: 0
					width: 100%
					z-index: 0

				span
					display: none
					left: 0
					line-height: 33px
					transition: color $time, opacity $time
					top: 0
					z-index: 1

					&:before,&:after
						transition: opacity $time, color $time

			.alsoAvailableOn
				align-items: center
				display: none
				height: 24px
				justify-content: center
				order: 5
				
				span
					font-size: 8px
					border-top: 1px solid white
					margin: 0 12.5px
					padding: 6px 0
					text-transform: uppercase
					transition: border $time
					width: 100%

					&:before
						transition: color $time

		.commentContainer
			display: none

		form
			display: none
			z-index: 2
				
		&.only
			.availableConsoles
				&:before,&:after
					background-image: url(img/onlyConsoleDecorator.png)
					background-position: center right
					background-repeat: no-repeat
					content: ''
					display: inline-block
					height: 40px
					left: 0
					margin-top: 6px
					opacity: .5
					position: absolute
					width: 15px

				&:after
					filter: FlipH
					left: auto
					right: 0
					transform: scaleX(-1)
					top: 0

			.alsoAvailableOn
				background-color: $red
				border: 0px

				span
					border: 0px

		&.ps
			.availableConsoles
				.container
					span:first-child:before
						opacity: 1

			.price
				&:before
					background: $ps_radial_gradient
				
				span:first-child
					opacity: 1

				span:nth-child(2)
					opacity: 0

			.exchange
				span
					&:first-child
						opacity: 1

					&:nth-child(2)
						opacity: 0

			&.only
				.availableConsoles
					.container
						span:nth-child(2)
							display: none

		&.xbox
			.availableConsoles
				.container
					span:nth-child(2):before
						opacity: 1

			.price
				&:before
					background: $xbox_linear_gradient

				span:first-child
					opacity: 0

				span:nth-child(2)
					opacity: 1

			.exchange
				span
					&:first-child
						opacity: 0

					&:nth-child(2)
						opacity: 1

			&.only
				.availableConsoles
					.container
						span:first-child
							display: none
						
		&.xboxNoSell
			.contentContainer
				.price
					span:nth-child(2)
						&:before
							content: 'no venta'

						&:after
							content: '\e909'

		&.psNoSell
			.contentContainer
				.price
					span:first-child
						&:before
							content: 'no venta'

						&:after
							content: '\e909'

		&.psNoExchange
			.contentContainer
				.exchange
					span:first-child
						&:before
							content: 'no hay trueque'

			&.ps
				.contentContainer
					.exchange
						&:before,&:after
							opacity: 0
							
		&.xboxNoExchange
			.contentContainer
				.exchange
					span:nth-child(2)
						&:before
							content: 'no hay trueque'

			&.xbox
				.contentContainer
					.exchange
						&:before,&:after
							opacity: 0

/***************************************************************************
														Both section
***************************************************************************/
.genericMainContainer, .searchResultsMainContainer
	&.both, &.profile
		.title
			color: $dark_green
			border-bottom: 1px solid $dark_green
			
			&:before
				background-image: url(img/smile.png)
				backgronud-position: center center
				background-repeat: no-repeat

			&:after
				content: 'aquí encontrarás juegos de PlayStation y de XBox'

ul.both.gameList
	il
		align-items: center

		figure
			border: 2px solid $dark_green
			border-bottom: 0

		.contentContainer
			.exchange								
				height: 24px
				position: relative

				span
					position: absolute;
					text-align: center;
					width: 100%;
					top: 0;
					left: 0;
					line-height: 24px;

					&:before
						content: 'trueque'

			.price
				span
					display: inline-block
					position: absolute
					width: 100%

					&:after
						display: none

		&.ps.psNoExchange
			.contentContainer
				.exchange
					span:first-child
						&:before
							color: $darker_green

		&.xbox.xboxNoExchange
			.contentContainer
				.exchange
					span:nth-child(2)
						&:before
							color: $darker_green
						
		&:hover
			figure
				border: 2px solid $red
				border-bottom: 0px

			.contentContainer
				background-color: $red

				.exchange
					&:before,&:after
						color: white

			&.xbox,&.ps
				.contentContainer
					.price:before
						opacity: 0

			&.ps.psNoExchange
				.contentContainer
					.exchange
						span:first-child
							&:before
								color: white
								opacity: .5

			&.xbox.xboxNoExchange
				.contentContainer
					.exchange
						span:nth-child(2)
							&:before
								color: white
								opacity: .5

			&.ps.psNoSell
				.contentContainer
					.price
						span:first-child
							opacity: 0.5

							&:before
								color: white

			&.xbox.xboxNoSell
				.contentContainer
					.price
						span:nth-child(2)
							opacity: 0.5
						
							&:before
								color: white

/***************************************************************************
														PS section only
***************************************************************************/

#semi_body.ps
	background: $ps_radial_gradient

.searchResultMainContainer
 	&.ps	
		background-color: transparent

		.container
			.title
				border-bottom: 1px solid white

				&:before
					content: '\e905'

				&:after
					content: 'estás en la sección de play station'

ul.ps.gameList
	il
		align-items: left
		height: 310px

		figure
			border: 2px solid white
			border-bottom: 0px

		.contentContainer
			.name
				text-align: left
			
			.availableConsoles
				display: none

			.price
				font-size: 15px
				font-weight: bold
				justify-content: flex-start
				order: 2
				text-align: left
				height: 15px
				
				&:before
					background: transparent

				span
					&:first-child
						display: inline-block
						opacity: 1

			.exchange
				order: 3
				text-align: left
				padding: 9px 0 3px 0
				font-size: 15px

				&:before,&:after
					bottom: 2px

				&:before
					padding-right: 6px

				&:after
					padding-left: 6px

				span
					&:first-child
						opacity: 1

						&:before
							content: 'trueque'

					&:nth-child(2)
						display: none

			.alsoAvailableOn
				display: flex
				order: 4

				span
					border-top: 1px solid white

					&:before
						color: white

		&.notOnly
			.contentContainer
				.alsoAvailableOn
					span
						&:before
							content: 'también disponible en xbox one'
							color: white

		&.only
			.contentContainer
				.alsoAvailableOn
					span
						border: 0

						&:before
							content: 'unicamente en play station 4'
							color: white

		&.psNoExchange
			.contentContainer
				.exchange
					&:before,&:after
						opacity: 1
						color: $darker_green

					span
						&:before,&:after
							color: $darker_green
							display: inline-block

		&.psNoSell
			.contentContainer
				.price
					span
						position: relative

						&:before,&:after
							color: $darker_green

						&:before
							font-weight: normal

						&:after
							font-family: TruequeGamer
							display: inline-block
							position: absolute
							left: -6px
							top: 0

		&:hover
			figure
				border: 2px solid $red
				border-bottom: 0px

			.contentContainer
				background-color: $red

				.exchange
					&:before,&:after
						color: white

					span
						&:before,&:after
							color: white

			&.psNoSell
				.contentContainer
					.price
						span
							&:before,&:after
								color: white
								opacity: 0.5

			&.psNoExchange
				.contentContainer
					.exchange
						&:before, &:after
							opacity: 0.5

						span
							&:before,&:after
								color: white
								opacity: 0.5


/***************************************************************************
														XBox section only
***************************************************************************/

#semi_body.xbox
	background: $xbox_linear_gradient

.searchResultMainContainer
 	&.xbox	
		background-color: transparent

		.container
			.title
				border-bottom: 1px solid white

				&:before
					content: '\e906'

				&:after
					content: 'estás en la sección de x-box'

ul.xbox.gameList
	il
		align-items: left
		height: 310px

		figure
			border: 2px solid white
			border-bottom: 0px

		.contentContainer
			background-color: white
			color: $dark_green

			.name
				text-align: left
			
			.availableConsoles
				display: none

			.price
				font-size: 15px
				font-weight: bold
				justify-content: flex-start
				order: 2
				text-align: left
				height: 15px

				&:before
					background: transparent

				span
					color: $dark_green

					&:nth-child(2)
						display: inline-block
						opacity: 1

			.exchange
				order: 3
				text-align: left
				padding: 9px 0 3px 0
				font-size: 15px

				&:before,&:after
					bottom: 2px

				&:before
					padding-right: 6px

				&:after
					padding-left: 6px

				span
					&:nth-child(2)
						opacity: 1

						&:before
							content: 'trueque'

					&:first-child
						display: none

			.alsoAvailableOn
				display: flex
				order: 4

				span
					border-top: 1px solid $dark_green

					&:before
						color: $dark_green

		&.notOnly
			.contentContainer
				.alsoAvailableOn
					span
						&:before
							content: 'también disponible en ps4'
							color: $dark_green

		&.only
			.contentContainer
				.alsoAvailableOn
					span
						border: 0

						&:before
							content: 'unicamente en x-box one'
							color: white

		&.xboxNoExchange
			.contentContainer
				.exchange
					&:before,&:after,&:nth-child(2)
						opacity: 1
						color: $green

					span
						&:before,&:after
							color: $green
							display: inline-block
					
						&:after
							left: -10px


		&.xboxNoSell
			.contentContainer
				.price
					span
						position: relative

						&:before,&:after
							color: $green

						&:before
							font-weight: normal

						&:after
							font-family: TruequeGamer
							display: inline-block
							position: absolute
							left: -6px
							top: 0

		&:hover
			figure
				border: 2px solid $green_hover_xbox
				border-bottom: 0

			.contentContainer
				background: $green_hover_xbox
				color: white

				.exchange
					&:before,&:after
						color: white
						
					span
						&:after,&:before
							color: white

				.price
					span
						color: white

				.alsoAvailableOn
					span
						border-top: 1px solid white

						&:before
							color: white

			&.xboxNoSell
				.contentContainer
					.price
						span
							&:before,&:after
								color: white
								opacity: 0.5

			&.xboxNoExchange
				.contentContainer
					.exchange
						span
							&:before,&:after
								color: white
								opacity: 0.5

						&:before,&:after
							color: white
							opacity: .5

			&.only
				.contentContainer
					.alsoAvailableOn
						span
							border: 0

.xboxNoExchange.ps
	.contentContainer
		.exchange
			span:nth-child(2)
				&:before
					opacity: 0

.psNoExchange.xbox
	.contentContainer
		.exchange
			span:first-child
				&:before
					opacity: 0	
