@import 'stylus/normalize.css';
@import 'font/style.css';
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: -webkit-radial-gradient(circle, #fff3d7, #e9c699);
  background: -moz-radial-gradient(circle, #fff3d7, #e9c699);
  background: -o-radial-gradient(circle, #fff3d7, #e9c699);
  background: -ms-radial-gradient(circle, #fff3d7, #e9c699);
  background: radial-gradient(circle, #fff3d7, #e9c699);
  font-family: 'Cabin', sans-serif;
  color: #009992;
}
a {
  font-style: italic;
  color: #009992;
  text-decoration: none;
  font-size: 20px;
}
.arrow-decorator:after,
.dot-decorator:after,
.arrow-decorator:before,
.dot-decorator:before {
  font-size: 7px;
  position: relative;
  bottom: 4px;
  font-family: TruequeGamer;
  font-style: normal;
  color: #f29224;
}
.arrow-decorator:after {
  padding-left: 5px;
  content: "\e901";
  font-size: 10px;
  bottom: 2px;
}
.dot-decorator:before {
  padding-right: 5px;
  content: "\e900";
}
header,
.mainContainer,
footer,
.decoration {
  width: 100%;
  display: block;
}
header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-image: url("./img/header-background.png");
  background-repeat: no-repeat;
  background-position: center left;
}
header .isotypeContainer {
  margin-top: 50px;
  width: 470px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
header .isotypeContainer figure,
header .isotypeContainer .sloganContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 17px;
  margin: 0 0 15px 0;
}
header .isotypeContainer .sloganContainer {
  margin-top: 15px;
}
header .isotypeContainer .sloganContainer span {
  padding: 2px;
}
header .isotypeContainer .sloganContainer span:nth-child(2) {
  position: relative;
}
header .isotypeContainer .sloganContainer span:nth-child(2) img {
  position: absolute;
  left: -5px;
  z-index: 1;
}
header .login {
  margin-top: 80px;
  display: inline-block;
  width: 215px;
  top: 80px;
}
header .searchButtonContainer {
  width: 215px;
  top: 0px;
}
header .searchButtonContainer div:first-child {
  height: 100px;
  width: 75px;
  background-color: #98ceb7;
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
header .searchButtonContainer div:first-child .searchButtonSubContainer {
  position: relative;
  bottom: 0;
  border-top: 1px solid #009992;
  height: 70px;
  width: 50px;
}
header .searchButtonContainer div:nth-child(2) {
  position: absolute;
  top: 100px;
  height: 20px;
  width: 75px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 37.5px transparent solid;
  border-top: 20px solid #98ceb7;
}
header .searchButtonContainer .searchButton {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 0px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: none;
  background-color: #009992;
  background-image: url("./img/search.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.mainContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.mainContainer div {
  display: inline-block;
}
.mainContainer .searchFieldContainer {
  margin: 15px;
}
.mainContainer .searchFieldContainer input[type="text"] {
  width: 350px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #009992;
  height: 30px;
}
.mainContainer .filterMainContainer {
  width: 900px;
}
.mainContainer .filterMainContainer .consoleContainer {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 25px 0;
}
.mainContainer .filterMainContainer .consoleContainer button.consoleCheckbox {
  width: 222px;
  height: 110px;
  border: 0px;
  background-color: #00605b;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  flex-direciton: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.mainContainer .filterMainContainer .extraFilterContainer {
  margin: 10px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.mainContainer .filterMainContainer .extraFilterContainer section {
  width: 312px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.mainContainer .filterMainContainer .extraFilterContainer section.locationSection {
  width: 178px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.mainContainer .filterMainContainer .extraFilterContainer section.locationSection figure {
  border: solid 3px #fff;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  margin: 0;
  padding: 0;
  width: 23px;
  height: 23px;
  background: #f00;
}
.mainContainer .filterMainContainer .extraFilterContainer button.extraFilterButton {
  width: 150px;
  height: 40px;
  background-color: #009992;
  border: 0px;
  font-size: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 13px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.mainContainer .filterMainContainer .extraFilterContainer button.extraFilterButton span {
  color: #fff;
  font-size: 15px;
  margin-left: 13px;
}
.mainContainer .filterMainContainer .extraFilterContainer button.extraFilterButton input[type="checkbox"] {
  display: none;
}
.mainContainer .filterMainContainer .extraFilterContainer button.extraFilterButton input[type="checkbox"] + label {
  cursor: pointer;
  width: 24px;
  display: inline-block;
  height: 24px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #00605b;
  border: 0;
  margin: 0;
  overflow: hidden;
}
.mainContainer .filterMainContainer .extraFilterContainer button.extraFilterButton input[type="checkbox"] + label:before,
.mainContainer .filterMainContainer .extraFilterContainer button.extraFilterButton input[type="checkbox"]:checked + label:before {
  margin: 0;
  width: 24px;
  height: 24px;
  position: relative;
  top: -24px;
  left: 0;
  content: '\e902';
  font-family: TruequeGamer;
  font-size: 22px;
  color: #fff;
}
.mainContainer .filterMainContainer .extraFilterContainer button.extraFilterButton input[type="checkbox"]:checked + label:before {
  top: 0;
}
.searchButtonSection {
  margin: 40px 0px;
}
.searchButton {
  width: 120px;
  height: 40px;
  background-color: #e6334c;
  border: 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 22px;
  color: #fff;
}
.decoration {
  position: absolute;
  bottom: 0;
  background: #98ceb7;
  height: 50px;
  background-image: url("./img/footer-background-decorator.png");
  background-repeat: repeat-x;
  background-position: center;
}
.listDecorator {
  width: 25px;
  height: 28px;
  background-image: url("img/listDecorator.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.cityButton {
  width: 135px;
  height: 40px;
  background-color: #f29224;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  font-size: 15px;
}
